<html layout:decorate="~{layouts/layout}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Добавить товар</title>
        <link href="../../static/css/auth.css" media="all" rel="stylesheet" th:href="@{/css/auth.css}" type="text/css">
    </head>

    <body>
        <div layout:fragment="content">
            <h1>Добавить товар</h1>

            <form enctype="multipart/form-data" name="product_add_form" th:action="@{/products/add}" th:method="POST" th:object="${product}">
                <label for="image">
                    <input accept="image/png, image/jpeg" id="image" name="image" style="display: none;" th:field="*{multipartFile}"
                           type="file">
                    <img th:src="@{'/static_images/empty_product.jpg'}">
                </label>

                <label for="title">Назавание товара:</label>
                <input id="title" name="title" th:field="*{title}" type="text">
                <span style="color: red" th:errors="*{title}" th:if="@{#fields.hasErrors('title')}">Ошибки в названии товара.</span>

                <label for="price">Цена:</label>
                <input id="price" name="price" th:field="*{price}" type="text">
                <span style="color: red" th:errors="*{price}" th:if="@{#fields.hasErrors('price')}">Ошибки в цене.</span>

                <label for="price">Описание:</label>
                <input id="description" name="description" th:field="*{description}" type="text">
                <span style="color: red" th:errors="*{description}" th:if="@{#fields.hasErrors('description')}">Ошибки в описании.</span>

                <label for="category">Категория:</label>
                <select id="category" name="category" th:field="*{category}">
                    <option value="0"></option>
                    <option value="1">Ботинки</option>
                    <option value="2">Лезвия</option>
                    <option value="3">Одежда</option>
                </select>
                <span style="color: red" th:errors="*{category}" th:if="@{#fields.hasErrors('category')}">Ошибки в категории.</span>

                <input type="submit" value="Добавить">
            </form>
        </div>
    </body>
</html>