<html layout:decorate="~{layouts/layout}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Товары</title>
        <link href="../../static/css/products.css" media="all" rel="stylesheet" th:href="@{/css/products.css}" type="text/css">
    </head>

    <body>
        <div layout:fragment="sidebar">
            <h3>Поиск</h3>

            <form id="search_form" th:action="@{/products}" th:method="GET">
                <input id="search" name="search" placeholder="Товар (частино или полностью)" type="text">
                <input id="from" name="from" placeholder="Диапазон от" type="text">
                <input id="to" name="to" placeholder="До" type="text">

                <label for="sort">Сортировка:</label>
                <select id="sort" name="sort">
                    <option></option>
                    <option value="title">Название</option>
                    <option value="price">Цена</option>
                </select>

                <label for="category">Категория:</label>
                <select id="category" name="category">
                    <option></option>
                    <option value="shoes">Ботинки</option>
                    <option value="blades">Лезвия</option>
                    <option value="clothes">Одежда</option>
                </select>

                <input type="submit" value="Применить">
            </form>

            <form sec:authorize="hasRole('ADMIN')" th:action="@{/products/add}" th:method="GET" id="add_product_admin">
                <input type="submit" value="Добавить товар (admin)">
            </form>
        </div>

        <div layout:fragment="content">
            <h1>Товары</h1>

            <div class="products">
                <div th:each="product : ${products}">
                    <img th:src="@{'/images/' + ${product.fileName}}" width="256px">
                    <p><a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.title}">Товар</a></p>
                    <p th:text="${product.price} + ' руб.'">Цена</p>
                </div>
            </div>
        </div>

        <script layout:fragment="script">
            var myForm = document.getElementById('search_form');

            myForm.addEventListener('submit', function (e) {
                var allInputs = myForm.getElementsByTagName('input');
                var allSelects = myForm.getElementsByTagName('select');

                for (var i = 0; i < allInputs.length; i++) {
                    var input = allInputs[i];

                    if (input.name && !input.value) {
                        input.removeAttribute('name');
                    }
                }

                for (var i = 0; i < allSelects.length; i++) {
                    var select = allSelects[i];

                    if (select.name && !select.value) {
                        select.removeAttribute('name');
                    }
                }
            });
        </script>
    </body>
</html>